@use '../../lib/service.scss' as s;


.page {
    font-family: 'Roboto', sans-serif;
    font-size: s.size();
    background-color: s.color('background');
}
// color - это color из @function из var.scss
// background - это $key из @function из var.scss 
// var.scss к style.scss подключен через service.scss
